body, html {
	font-family: sans-serif;
	font-size: 10pt;
}

.vis.timeline .item {
	border-color: #acacac;
	background-color: #efefef;
	box-shadow: 5px 5px 10px rgba(128,128,128, 0.3);
}

table .description {
	font-style: italic;
}

#visualization {
	position: relative;
	overflow: hidden;
}

		
.logo img {
	width: 100px;
}

.vis-time-axis .vis-grid.vis-odd {
	background: #f5f5f5;       
}

.pane {
	display: inline-block;
	overflow-y: auto;
	max-height:200px;
}

.buttonChange{
	background-color: #1BA5B8;
}

/* Center the loader */
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;	
}

#myDiv {
	display: none;
}

.rowHighlight{
	background-color: #bfb8b7;
}

.today {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 9999;
}

table.ex2 {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

